header{
  background-color: #607d8b;
  background-image: url("/assets/images/header_background.png") ;
  padding:50px;
  color:white;
  height: 230px;
}
    header h1{
        font-size: 35px;
      }

      header h2{
        font-size: 25px;
        padding-top: 15px;
      }

@media only screen and (max-width: 768px) {
        header h1{
        font-size: 30px;
      }

      header h2{
        font-size: 20px;
        padding-top: 15px;
      }
}

.container{
  background-color: white;
  padding: 10px;
   line-height: 35px;
}



@media (min-width: 1200px){
.container {
    max-width: 960px;
    }
}


.color-green {
  color:#009688;
  font-weight:bold;
}

.color-orange{
  color:#ff5722;
  font-weight:bold;
}

.bg-green{
  background-color:#009688 ;
}

.bg-grey{
  background-color:#607d8b
}

.timer{
  border-radius: 5px;
  overflow: hidden;
}

.timer .div-one{
  height: 60px;
  padding-top:20px;
  font-size:20px;
}

.timer .div-two{
  height: 60px;
  padding-top:20px;
  font-size:40px
}
.timer .div-three{
  height: 70px;
  padding-top:20px;
  font-size:20px;
}

.col-sm-2{
  width: 100%;
  padding: 0px;
}
.th{
  text-align:center;
  background-color:#f1f1f1;
  font-weight:bold;
  font-size:20px;
  padding-top: 5px;
}
.td{
  text-align:center;
  font-size:20px;
  padding-top: 5px;
}


.a-link{
  text-decoration: none;
  color: white;
  padding:12px 10px 10px 10px;

  font-size:18px;

}

.timenow{
  width:50px;
  font-family: serif;
}


.a-link:hover{
  background-color : #607d8b;
  color: black;

}

.fa-sun-o{
      font-size: initial;
}

.fa-moon-o{
  font-size: initial;
}


.next-prayer{
  font-weight: bold;
    color: #2a9689;
}
