<header class="text-center">

  <h1>مواقيت الصلاة اليوم في الرباط</h1>
  <h2>مواعيد او مواقيت الصلاة والاذان اليوم في الرباط لكل الفروض الفجر,الظهر, العصر, المغرب, العشاء .</h2>

</header>


<div class="container mt-3" >

  <div class="row">
    <div class="col-md-7 text-right">
        <h3>

          المغرب, الرباط
        </h3>

        <p>
          <span class="color-green">الساعة</span> : <span class="color-orange timenow">{{timer}}</span> حسب التوقيت المحلي في الرباط
          <br>
          <span class="color-green">التاريخ هجري</span> : السبت 21 شعبان 1442 هجرية
        <br>
          <span class="color-green">تاريخ اليوم</span>: {{miladi}}
        </p>
    </div>

    <div class="col-md-5 text-right text-white">

      <div class="timer">
              <div class="bg-green text-center div-one">
                متبقي على صلاة الظهر
              </div>

              <div class="bg-grey text-center div-two">
                02:34:44
              </div>

              <div class="bg-green text-center div-three">
                صلاة الظهر الساعة 1:31 PM
              </div>
      </div>
    </div>
  </div>

  <div class="text-right mt-3">
    <h3>مواقيت الاذان في الرباط</h3>
  </div>

  <div class="row mr-2 ml-2">

    <div class="col-sm-2">
      <div class="th">
<i class="fa fa-moon-o" aria-hidden="true"></i> الفجر
      </div>
      <div class="td">
{{Prayer.fajr}}
      </div>
    </div>

    <div class="col-sm-2">
      <div class="th">
      <i class="fa fa-sun-o" aria-hidden="true"></i>  الشروق
      </div>
      <div class="td">
        {{Prayer.sunrise}}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="th" >
      <i class="fa fa-sun-o" aria-hidden="true"></i> الظهر
      </div>
      <div class="td" [ngClass]="{'next-prayer':selector == 'dohr'}">
        {{Prayer.dohr}}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="th">
      <i class="fa fa-sun-o" aria-hidden="true"></i> العصر
      </div>
      <div class="td">
        {{Prayer.asr}}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="th">
        <i class="fa fa-moon-o" aria-hidden="true"></i> المغرب
      </div>
      <div class="td">
        {{Prayer.maghreb}}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="th">
        <i class="fa fa-moon-o" aria-hidden="true"></i> العشاء
      </div>
      <div class="td">
        {{Prayer.ichaa}}
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
      <a class="bg-green a-link" href="#">
مواقيت الصلاة لشهر أبريل الرباط
      </a>
  </div>
</div>


