<div class="container h-100">
  <div class="d-flex justify-content-md-center text-center vh-100 divmain">
    <div class="main">
      <div class="container">
        <h1>مواقيت الصلاة</h1>
        <div class="row " style="flex-direction: row-reverse;">
          <div class="col-md-5 text-right my-auto mt-4" >
            <h2>الرباط - المغرب</h2>
            <div class="date" dir="rtl">
              <h3>الإثنين 16 شعبان 1442 هـ</h3>
              <h3>29 مارس 2021 ميلادي </h3>
              <div class="section">
                <h4>
                  الساعة اﻵن 13:49:05
                </h4>
                <h3>
                  متبقي على صلاة المغرب
                </h3>
                <div class="time" dir="ltr">
                  <span class="sequare">23</span> : <span class="sequare">30</span> : <span class="sequare">59</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 mt-4 prayer">

        <div dir="rtl">
    <div class="form-group">
      <select class="form-control" id="select">
        <option>الرباط</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
        </div>
            <div class="row" dir="rtl">
              <div class="col-md-2 col-4">
                <div class="th th2">الفجر</div>
                <div class="td td2">04:22</div>
              </div>
              <div class="col-md-2 col-4">
                <div class="th th1">الشروق</div>
                <div class="td td1">05:49</div>
              </div>
              <div class="col-md-2 col-4">
                <div class="th th2">الظهر</div>
                <div class="td td2">12:00</div>
              </div>
              <div class="col-md-2 col-4">
                <div class="th th1">العصر</div>
                <div class="td td1">15:31</div>
              </div>
              <div class="col-md-2 col-4">
                <div class="th th2">المغرب</div>
                <div class="td td2">18:12</div>
              </div>
              <div class="col-md-2 col-4">
                <div class="th th1">العشاء</div>
                <div class="td td1">19:29</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

